@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  color: #222222;
}

body div.container {
  width: 90%;
  margin: 30px auto;
}

/* label color */
.input-field label {
  color: #222222;
}

/* label focus color */
.input-field input:focus + label {
  color: #222222 !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important;
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #222222;
}

.icon-txt-size {
  font-size: inherit;
  vertical-align: text-top;
}

.icon-container {
  display: flex;
  border-radius: 5px;
}

.no-margin {
  margin: 0;
}

.m-5px {
  margin: 5px;
}

.icon-container label, .icon-container span {
  font-size: 1em;
  border: solid 1px #f44336;
  vertical-align: middle;
  margin: 0;
  padding: 3px;
}

.icon-container label {
  color: white;
  background-color: #f44336;
}

.icon-container span {
  color: #f44336;
  background-color: white;
}

.brand-logo {
  font-family: "Terminator Two", 'Ubuntu', sans-serif;
}

.brand-logo * {
  font-family: "Terminator Two", 'Ubuntu', sans-serif;
  padding: 5px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid.jc-c {
  justify-content: center;
}

.grid.jc-l {
  justify-content: left;
}

.grid.jc-r {
  justify-content: right;
}

.grid div.m10 {
  margin: 10px;
}

.grid div.m10.w25 {
  max-width: calc(25% - 10px * 2);
}

.grid div.m10.w50 {
  max-width: calc(50% - 10px * 2);
}

.grid div.m10.w75 {
  max-width: calc(75% - 10px * 2);
}

#videoDetailPlayer iframe {
  width: 100%;
  min-height: 60vh;
}

.grid div.w25 {
  max-width: 25%;
}

.grid div.w50 {
  max-width: 50%;
}

.grid div.w75 {
  max-width: 75%;
}

.p5 {
  padding: 5px;
}

.sidenav-overlay {
  z-index: 996 !important;
}

a {
  cursor: pointer;
}

.pre {
  white-space: pre;
}

.input-field input:focus + label {
  color: #222 !important
}

.input-field input:focus {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important
}

.input-field input.invalid, .input-field input.valid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336
}

.materialize-textarea:focus + label {
  color: #222 !important
}

.materialize-textarea:focus {
  border-bottom: 1px solid #f44336 !important;
  box-shadow: 0 1px 0 0 #f44336 !important
}

.materialize-textarea.invalid, .materialize-textarea.valid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336
}

.listComment li:nth-child(even) {
  border-bottom: solid 1px rgba(244, 67, 54, 0.5);
}

.listComment li:nth-child(odd) {
  border-bottom: solid 1px rgba(34, 34, 34, 0.5);
}

.input-field .prefix.active {
  color: #222
}