doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        title B & J

        link(rel="icon" href="assets/img/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        link(rel="icon" type="image/png" href="assets/img/icon.png")


        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")


        script(src='https://cdn.jsdelivr.net/npm/vue')
        script(src='assets/js/following.js')
        script(src='assets/js/apiCall.js')

        link(rel='stylesheet', href='assets/css/style.css')

        script.
            var channelsIds = channelsIds;

    body
        div.navbar-fixed
            nav.red
                div.nav-wrapper
                    a.brand-logo(href='/')
                        span Y+

                    a(href="#" data-target="mobile-demo").sidenav-trigger <i class="material-icons">menu</i>

                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href='/following') Abonnements
                        li
                            a.dropdown-trigger(href='#' data-target='dropdown2') Hello #{user.userName}

                    ul#mobile-demo.sidenav
                        li
                            a(href='/') Accueil
                        li
                            a(href='/following') Abonnements
                        li
                            a.dropdown-trigger(href='#' data-target='dropdown1') Hello #{user.userName}


                    ul#dropdown1.dropdown-content
                        li
                            a(href="/disconnect").red-text Disconnect
                    ul#dropdown2.dropdown-content
                        li
                            a(href="/disconnect").red-text Disconnect


        div#app
            div(v-if="videos && !videoDetail")
                div.container.grid.jc-c
                    div(v-for="(video,index) in videos.items").w25.m10
                        a( :onclick="'toggleVideoDetail(' + index + ')'")
                            img(:src="video.snippet.thumbnails.high.url").responsive-img
                            h6.black-text {{video.snippet.title}}
                            p.grey-text.no-margin {{video.statistics.viewCount}} vues - {{video.snippet.prettyDate}}
                            p.grey-text.no-margin
                                span {{channels[video.snippet.channelId].items[0].snippet.title}}


            div(v-if="videoDetail")#videoDetailDiv
                div.container
                    button.waves-effect.waves-light.btn.red.m-5px(onclick="app.videoDetail = false") <i class="material-icons">arrow_back</i>
                    div(v-html="videoDetailObj.player.embedHtml")#videoDetailPlayer

                    h6 {{videoDetailObj.snippet.title}}
                    p.grey-text.no-margin.pre {{videoDetailObj.snippet.description}}

                    .listComment
                        ul
                            li.p5 Comments :
                            li(v-if="videoDetailComments" v-for='comment in videoDetailComments').row.no-margin.p5
                                .col.s1.b-r {{comment.user.userName}}
                                .col.s11 {{comment.comment}}
                            li(v-if="!videoDetailComments") Pas de Commentaire


                    .addComment.row
                        div.input-field.col.s10
                            label(:for="'textarea-' + videoDetailObj.id") Commentez :
                            textarea(:id="'textarea-' + videoDetailObj.id").materialize-textarea
                        div.input-field.col.s2
                            button(:onclick="'getTextareaValueByArticleId(\"' + videoDetailObj.id + '\",addComment)'").waves-effect.waves-light.btn.red Send !
